.step-container.design-choices {
	.step-container__header {
		margin-top: 96px;
		margin-bottom: 50px;

		.formatted-header {
			.formatted-header__subtitle {
				text-align: center;
			}
		}
	}
}

.design-choice__image-container {
	flex-direction: column;

	.design-choice__footer {
		margin-top: 21px;
		color: var(--studio-gray-50);
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: -0.32px;
		text-align: start;
	}
}


.design-choices__body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 43px;

	&.is-goals-first {
		gap: 16px;
	}
}

.design-choices__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin-top: 38px;
	font-size: $font-body-small;
	font-weight: 400;
	line-height: 20px;
	color: var(--studio-gray-60);

	svg {
		fill: currentColor;
	}
}

.design-choices__design-your-own {
	.design-choice__image-container {
		position: relative;

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 310px;
			max-width: unset;
			padding: 32px 18px 28px;
		}
	}
}
