.is-section-reader {
	.user-profile {
		.empty-content {
			margin-top: 150px;
		}
	}

	.user-profile__404.empty-content {
		max-width: initial;
		margin: initial;
		padding-top: initial;
	}

	div.user-profile__content {
		main.main.is-user-stream {
			padding: 0;
			border-block-end: none;
		}
	}

	.user-profile__lists-body {
		max-width: 768px;
		margin: 0 auto;

		&-link {
			color: var(--color-neutral-100);
			cursor: pointer;
			display: block;
			line-height: 29px;
			text-wrap: pretty;

			.reader-post-card__title {
				margin-top: 0;
				font-size: 1.25rem;
				font-weight: 600;
			}
		}
	}
}
