.panel {
	display: flex;
	flex-direction: column;
	max-width: 720px;
	gap: 16px;
	font-size: 0.875rem;
	align-items: flex-start;

	&.main {
		margin: 0;
	}

	&--wide.main {
		max-width: 100%;
	}

	.header-cake__back {
		padding: 0;
	}

	.upsell-nudge {
		width: 100%;
	}

	// TODO: remove after the untangling/hosting-menu flag is enabled
	#primary > & {
		margin-left: auto;
		margin-right: auto;
	}
}

.panel-section {
	box-sizing: border-box;
	background-color: #fff;
	width: 100%;

	&.panel-section--borderless{
		margin-top: 24px;
	}

	&:not(.panel-section--borderless) {
		padding: 22px;
		border: 1px solid var(--studio-gray-5);
		border-radius: 3px;
		box-shadow: none;
	}

	h2 {
		font-size: 1rem;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 12px;
	}

	p.panel-description {
		margin-bottom: 12px;
	}

	.form-text-input,
	.form-select {
		font-size: rem(14px) !important;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	.foldable-card {
		margin-left: -22px;
		margin-right: -22px;
	}

	.upsell-nudge {
		margin-bottom: -22px;
		margin-left: -22px;
		margin-right: -22px;
	}
}
