@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

#choose-a-domain-writer-header {
	p {
		text-align: center;
	}

	button {
		margin-left: 5px;
	}
}

.start-writing {
	.register-domain-step {
		box-shadow: none;
		background: none;
	}

	.register-domain-step__next-page-button {
		padding-bottom: 8px !important;
		margin: 20px 0;
	}

	.is-borderless {
		border: none;
	}

	.domain-suggestion,
	.domain-suggestion:hover,
	.featured-domain-suggestion,
	.featured-domain-suggestion:hover,
	.register-domain-step__next-page {
		background-color: inherit;
		box-shadow: none;
		border-top: solid 1px var(--studio-gray-5);
		padding-left: 0;
		padding-right: 0;
	}

	.has-underline {
		text-decoration: underline;
	}

	@include break-small {
		.step-container__navigation .navigation-link:first-of-type {
			margin-left: 40px;
			margin-top: 4px;
		}
	}
}
