@import "variables";

/**
 * Styles for '/odie' route.
 */
.help-center .help-center__container .help-center__container-content .help-center__container-content-wrapper .help-center__container-chat {
	display: flex;
	height: 100%;
	max-height: 752px;
	flex-direction: column;
	max-width: 410px;
	padding: 0;

	.odie-chat-message-input-container {
		border-radius: 0;

		@media screen and (max-width: 660px) {
			max-width: 100%;
		}

		&.odie-chat-message-input-container__attachment-button-visible {
			.odie-send-message-input-spinner {
				/* stylelint-disable-next-line length-zero-no-unit */
				margin: 0px 61px 0px 0px;
			}
		}

		.odie-send-message-input {
			&:disabled {
				-webkit-text-fill-color: var(--color-neutral-20);
				background: var(--color-neutral-0);
				border-color: var(--color-neutral-0);
				color: var(--color-neutral-20);
			}
		}

		.odie-send-message-input-spinner {
			top: 28px;
			/* stylelint-disable-next-line length-zero-no-unit */
			margin: 0px 11px 0px 0px;
		}

		.components-form-file-upload {
			button {
				padding: 7px;
				&:focus {
					outline: 2px solid #3858e9;
					outline-offset: 1px;
				}
			}
		}
	}
}
