@import "@automattic/typography/styles/variables";
@import "variables";

/**
 * Help Center Header
 */
.help-center .help-center__container {
	&.is-desktop .help-center__container-header {
		cursor: move;
	}

	.help-center__container-header {
		height: $head-foot-height;
		padding: 16px;

		&.has-unread {
			background: #3858E9;
			color: var(--studio-white);
			border-radius: 0;

			button {
				color: var(--studio-white);
			}

			.help-center-header__text > svg {
				fill: var(--studio-white);
			}
		}

		>div {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 0;
		}

		.help-center-header__maximize,
		.help-center-header__minimize,
		.help-center-header__close {
			&:focus {
				outline: $help-center-blue solid 2px;
			}
		}

		// This icon does not accept size prop due to a bug - https://github.com/WordPress/gutenberg/pull/40315
		// We can remove this when the bug is fixed AND the package is updated.
		.help-center-header__minimize svg {
			transform: scale(0.7, 1);
			transform-origin: center;
		}

		.help-center-header__text {
			font-size: $root-font-size;
			font-weight: 500;
			display: flex;
			align-items: center;
			flex: 1;
			gap: 2px;
			margin: 0 0 0 4px;

			svg:not(.help-center__drag-icon) {
				cursor: pointer;
			}

			:focus{
				outline: none;
			}

			.help-center-header__article-title {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 200px;
			}

			.help-center-header__unread-count {
				display: inline-block;
				margin-left: 8px;
				padding: 2px 8px;
				background: var(--studio-white);
				border-radius: 45%;
				font-size: $font-body-extra-small;
				color: #3858E9;
			}
		}

		.ellipsis-menu {
			.ellipsis-menu__toggle {
				width: 36px;
				height: 36px;
				padding: 6px;
			}
		}
	}
}

.clear-conversation__wrapper {
	padding: 4px 0;
    text-align: center;

	svg {
		fill: var(--studio-gray-70);
	}

	:hover, :focus {
		background-color: $help-center-blue;
		color: var(--studio-white);

		svg {
			fill: var(--studio-white);
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 8px;
		cursor: pointer;
		gap: 4px;
		color: var(--studio-gray-70);
		border: none;
		background: unset;

		div {
			margin-bottom: 2px;
			font-size: 0.875rem;
		}
	}
}
