@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

@import "../../variables";

.product-category-menu {
	margin-block-start: 32px;

	&::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 100%;
		background: linear-gradient( to left, transparent, rgba( $header-background-color, .8 ) );
		z-index: 5;

		@include break-medium() {
			display: block;
		}

		@include break-xhuge() {
			width: 15%;
			height: 100%;
			background: linear-gradient( to left, transparent, rgba( $header-background-color, .8 ), $header-background-color );
		}
	}

	&::after {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		background: linear-gradient( to right, transparent, rgba( $header-background-color, .8 ) );
		z-index: 5;

		@include break-medium() {
			display: block;
		}

		@include break-xhuge() {
			width: 15%;
			height: 100%;
			background: linear-gradient( to right, transparent, rgba( $header-background-color, .8 ), $header-background-color );
		}
	}

	.a4a-carousel__content {
		z-index: 1;
	}

	.a4a-carousel__navigation {
		z-index: 10;
	}
}

.product-category-menu-title {
	@include a4a-font-heading-lg;
	color: var(--color-text-inverted);
	z-index: 10;
	position: relative;
}

.product-category-menu-items {
	margin-block-start: -24px;
}

.product-category-menu-item {
	@include a4a-font-heading-md;
	width: 200px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary-0);
	border-radius: 4px; // eslint-disable-line wpcalypso-border-radius-theme
}
