@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/dataviews/build-style/style.css";

.is-section-reader .recent-feed {
	$recent-feed-spacing: 12px;

	@media ( min-width: $break-wide ) {
		display: flex;
		background: var( --studio-gray-0 );
		gap: 12px;
	}

	%column-shared {
		background: var( --color-surface );
		border-radius: 8px; /* stylelint-disable-line scales/radii */
		box-shadow: 0 0 17.4px 0 rgba( 0, 0, 0, 0.05 );
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__list-column {
		flex: 1;
		width: 100%;
		@extend %column-shared;

		&.has-overlay {
			display: none;

			@media ( min-width: $break-wide ) {
				display: block;
			}
		}

		@media ( min-width: $break-wide ) {
			max-width: 320px;
		}

		&-header {
			padding: 16px $recent-feed-spacing;
			border-bottom: 1px solid var( --studio-gray-0 );
			margin-bottom: 16px;

			.navigation-header__main {
				align-items: center;
			}

			header {
				margin: 0;
				padding: 0;

				&::after {
					display: none;
				}
			}
		}

		.dataviews__view-actions {
			box-sizing: border-box;
			padding: 0 $recent-feed-spacing;
		}

		.dataviews-no-results {
			padding: $recent-feed-spacing;
		}

		ul {
			list-style: none;
			margin: 16px 0 0;

			li {
				border-top: 1px solid var( --studio-gray-0 );
				
				&.is-selected + li {
					border-top: 1px solid var( --studio-gray-0 );
				}

				&:hover {
					cursor: pointer;
					background-color: #f7faff;
				}

				&.is-selected {
					border-top: 1px solid #3858e940;

					.dataviews-view-list__item-wrapper {
						background-color: #f7faff;
					}
				}

				.components-flex {
					align-items: center;
				}

				.dataviews-view-list__media-wrapper {
					border-radius: 50%;
					width: 24px;
					height: 24px;
					background-color: transparent;

					&::after {
						box-shadow: none;
					}
				}

				.recent-post-field {
					display: flex;
					justify-content: space-between;
					align-items: center;
					text-align: left;
					width: 100%;
					min-height: fit-content;
					gap: $recent-feed-spacing;
		
					%text-shared {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
		
					&__title {
						min-width: 0;
					}
		
					&__title-text {
						font-weight: 700;
						font-size: rem(13px);
						@extend %text-shared;
					}
		
					&__site-name {
						font-weight: 400;
						font-size: rem( 11px );
						line-height: 1;
						@extend %text-shared;
					}
		
					&__featured-image {
						max-width: 38px;
						align-self: flex-end;
						flex-shrink: 0;
					}
				}
			}

			.dataviews-view-list__item {
				padding: $recent-feed-spacing;
			}
		}

		&.recent-feed--no-subscriptions {
			max-width: none;

			.recent-feed__list-column-header {
				max-width: none;
				margin: 0;
				padding: 16px 24px;
				border-bottom: 1px solid var( --studio-gray-0 );

				header.navigation-header {
					max-width: $break-medium;
					margin: 0 auto;
					padding: 0;
				}
			}

			.recent-feed__list-column-content {
				max-width: $break-medium;
				margin: 0 auto;
				padding: 24px 24px 0;
			}

			@media ( min-width: $break-wide ) {
				max-width: none;
			}
		}
	}

	&__post-column {
		display: none;
		@extend %column-shared;

		&.overlay {
			display: block;
		}

		&-engagement-bar {
			position: fixed;
			bottom: 0;
			height: 60px;
			background: var( --color-surface );
			box-shadow: 0 -2px 8px rgba( 0, 0, 0, 0.05 );
			z-index: 100;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: opacity 0.2s ease-in-out;
			opacity: 1;

			@media ( min-width: $break-small ) and ( max-width: $break-medium ) {
				margin-right: 24px;
			}

			@media ( min-width: $break-medium ) {
				margin-right: 16px;
			}

			&.engagement-bar-is-hidden {
				opacity: 0;
				pointer-events: none;
			}

			.reader-post-actions {
				margin: 0;
				justify-content: space-evenly;

				@media ( min-width: $break-medium ) {
					justify-content: center;
				}
				span,
				svg {
					color: var( --color-text );
					fill: currentColor;
				}
			}
		}

		.reader-full-post__story {
			padding-bottom: 132px;
		}

		.back-button {
			@media ( min-width: $break-wide ) {
				display: none;
			}
		}

		@media ( min-width: $break-wide ) {
			display: block;
			position: relative;
			flex: 3;
		}
	}

	.recent-post-skeleton {
		max-width: 720px;
		padding: 32px 24px;
		margin: 0 auto;

		&__header {
			display: flex;
			gap: 2rem;
			align-items: center;
			margin-bottom: 2rem;
		}

		&__header-content {
			flex-grow: 1;
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__header-meta {
			display: flex;
			gap: 1rem;
		}

		&__img {
			margin-bottom: 2rem;
		}

		&__p {
			display: flex;
			gap: 1rem;
			margin-bottom: 2rem;
			flex-wrap: wrap;
		}
	}
}
