/* stylelint-disable-next-line scss/load-no-partial-leading-underscore */
@import "calypso/assets/stylesheets/shared/_loading";
@import "@automattic/onboarding/styles/mixins";

.processing-step {
	--wp-components-color-foreground: #3858E9;
	max-width: 540px;
	text-align: center;

	&__progress-step {
		@include onboarding-font-recoleta;
		/* stylelint-disable-next-line scales/font-sizes */
		font-size: 1.625rem;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		margin: 0;
	}
}

.processing-step__step-wrapper {
	.step-wrapper__content {
		padding: 1em;
		max-width: 540px;
		text-align: center;
		margin: 32vh auto;
	}
}

.import-focused .step-container__content,
.site-setup.processing .step-container__content {
	width: 100%;
}

// Processing Copy Site Styles
.copy-site.processing-copy {
	.processing-step, .stepper-loader {
		margin: 5vh auto 0;
		max-width: 660px;
	}

	.stepper-loader__title {
		font-size: 3rem;
		margin-bottom: 24px;
	}

	.stepper-loader__progress-bar {
		max-width: 540px;
		margin: 0 auto;
	}
}

.processing {
	.signup-header {
		.wordpress-logo {
			position: absolute;
			inset-inline-start: 20px;
			inset-block-start: 20px;
			fill: var(--color-text);
			stroke: none;
			transform-origin: 0 0;
		}
	}

}
