$background-color: #05374A;

.products-overview-v2.main.hosting-dashboard-layout {
	.hosting-dashboard-layout__container {
		height: auto;
		overflow: auto;
		display: block;
	}

	.hosting-dashboard-layout__top-wrapper {
		max-height: auto;
		background: url( calypso/assets/images/a8c-for-agencies/marketplace-hosting-page-v3-bg.svg ) no-repeat top right $background-color;
        border-block-end: none;
		position: sticky;
		top: 0;
		z-index: 100;
    }

	.hosting-dashboard-layout__header-breadcrumb {
		color: var(--color-neutral-40);
		fill: var(--color-neutral-40);

		a {
			color: var(--color-primary-5);
		}
	}

	.hosting-dashboard-layout__header-actions {
		background-color: var(--color-surface);
		border-radius: 8px; /* stylelint-disable-line */
		padding: 8px 16px;

		.shopping-cart {
			margin: 0;
		}
	}

	.components-button:is(.is-primary, .is-secondary) {
		min-height: 40px;
	}
}
