.settings-web-server {
	display: flex;
	flex-direction: column;
	gap: 16px;

	select {
		width: unset;
	}

	.defensive-mode__heading {
		font-size: 1rem;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.defensive-mode__description {
		font-size: rem(14px);
		font-weight: 400;
		line-height: 20px;
	}

	> .defensive-mode__description {
		margin-bottom: 16px;
	}
}
