@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/z-index";

.action-buttons {
	padding: 0 20px;
	border-top: 1px solid $gray-200;
	background-color: $white;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: $onboarding-footer-height;
	justify-content: space-between;
	display: flex;
	align-items: center;
	z-index: onboarding-z-index(".onboarding__footer");

	@mixin unstick {
		padding: 0;
		margin-left: 20px;
		position: static;
		border: none;

		.action_buttons__button {
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&:not(.is-sticky) {
		@include break-small {
			@include unstick;
		}
	}

	&.no-sticky {
		@include unstick;
	}
}

button.action_buttons__button.components-button {
	@include onboarding-medium-text;
	height: 42px;
	min-width: 120px;
	justify-content: center;

	&:active,
	&:hover,
	&:focus {
		outline-color: transparent;
	}

	&:disabled {
		opacity: 0.5;
	}

	&.action-buttons__back {
		color: var(--studio-gray-50);
		white-space: nowrap;
		min-width: 0;
		height: auto;
	}

	@include break-small {
		min-width: 160px;
	}
}
