@import "calypso/signup/style";
@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.step-route.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 96px);
	margin: 20px 0;

	.locale-suggestions {
		margin: 0 auto;
		@include break-medium {
			width: 100%;
		}
	}

	a.step-wrapper__navigation-link {
		color: #1d2327;
		font-family: "SF Pro Text", sans-serif;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		text-underline-offset: 5px;
		margin-left: auto;
	}

	// Hide the back button in the user step.
	// This is unfortunate as it works perfectly, but it classes with the flow title.
	button.navigation-link {
		display: none;
	}

	.signup-header .wordpress-logo {
		position: absolute;
		inset-inline-start: 20px;
		inset-block-start: 20px;
		fill: var(--color-text);
		transform-origin: 0 0;
	}

	.signup-form-social-first {
		width: 327px;
		margin: 3rem auto 0 auto;

		.signup-form__notice {
			width: 327px;
			margin-left: 0;
			margin-right: 0;

			&.is-transparent-info {
				color: var(--studio-gray-80, #2c3338);
			}
		}

		.auth-form__social {
			padding: 0 !important;
		}

		.signup-form-social-first__tos-link,
		.signup-form-social-first__email-tos-link {
			color: var(--studio-gray-50, #646970);
			font-family: "SF Pro Text", sans-serif;
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
			margin-top: 3rem;
			margin-bottom: 0;

			a {
				color: var(--studio-gray-50, #646970);
				text-decoration-line: underline;
			}
		}

		.signup-form-social-first__tos-link {
			text-align: center;
		}
	}

	.signup-form-social-first-email {
		.card {
			background: transparent;
			box-shadow: none;
			padding-left: 0;
			padding-right: 0;

			button:not(.is-borderless, .signup-form__domain-suggestion-confirmation) {
				display: block;
				max-width: 327px;
				margin: 0 auto;
			}

			button.signup-form__domain-suggestion-confirmation {
				color: var(--color-link);
				cursor: pointer;
				text-decoration: none;

				&:hover {
					color: var(--color-link-dark);
				}
			}

			button.is-borderless {
				color: var(--color-link);
				padding: 0;

				&:hover {
					color: var(--color-link-dark);
				}
			}
		}

		.form-label {
			color: var(--studio-gray-60, #50575e);
			font-family: "SF Pro Text", sans-serif;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}

		.logged-out-form__footer {
			margin-top: 12px;
			padding-top: 0;
		}

		button.back-button {
			color: #1d2327;
			text-align: center;
			font-family: "SF Pro Text", sans-serif;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			display: block;
			margin: 0 auto;
			text-underline-offset: 5px;

			&:hover {
				color: var(--color-accent, #3858e9);
			}

			&:focus {
				outline: 1px dashed var(--color-accent, #3858e9);
				outline-offset: 3px;
				box-shadow: none;
				border-radius: 0;
			}
		}

		button.button:not(.is-borderless) {
			border-radius: 4px;

			&:focus {
				box-shadow: none;
				outline: 2px solid var(--studio-blue-60, #055d9c);
				outline-offset: 1px;
			}
		}
	}
}
