.color-scheme.is-fresh {
	/* Theme Properties */
	--color-primary: var(--color-deprecated-blue-50);
	--color-primary-rgb: var(--color-deprecated-blue-50-rgb);
	--color-primary-dark: var(--color-deprecated-blue-70);
	--color-primary-dark-rgb: var(--color-deprecated-blue-70-rgb);
	--color-primary-light: var(--color-deprecated-blue-30);
	--color-primary-light-rgb: var(--color-deprecated-blue-30-rgb);
	--color-primary-0: var(--color-deprecated-blue-0);
	--color-primary-0-rgb: var(--color-deprecated-blue-0-rgb);
	--color-primary-5: var(--color-deprecated-blue-5);
	--color-primary-5-rgb: var(--color-deprecated-blue-5-rgb);
	--color-primary-10: var(--color-deprecated-blue-10);
	--color-primary-10-rgb: var(--color-deprecated-blue-10-rgb);
	--color-primary-20: var(--color-deprecated-blue-20);
	--color-primary-20-rgb: var(--color-deprecated-blue-20-rgb);
	--color-primary-30: var(--color-deprecated-blue-30);
	--color-primary-30-rgb: var(--color-deprecated-blue-30-rgb);
	--color-primary-40: var(--color-deprecated-blue-40);
	--color-primary-40-rgb: var(--color-deprecated-blue-40-rgb);
	--color-primary-50: var(--color-deprecated-blue-50);
	--color-primary-50-rgb: var(--color-deprecated-blue-50-rgb);
	--color-primary-60: var(--color-deprecated-blue-60);
	--color-primary-60-rgb: var(--color-deprecated-blue-60-rgb);
	--color-primary-70: var(--color-deprecated-blue-70);
	--color-primary-70-rgb: var(--color-deprecated-blue-70-rgb);
	--color-primary-80: var(--color-deprecated-blue-80);
	--color-primary-80-rgb: var(--color-deprecated-blue-80-rgb);
	--color-primary-90: var(--color-deprecated-blue-90);
	--color-primary-90-rgb: var(--color-deprecated-blue-90-rgb);
	--color-primary-100: var(--color-deprecated-blue-100);
	--color-primary-100-rgb: var(--color-deprecated-blue-100-rgb);

	--color-accent: var(--color-deprecated-blue-50);
	--color-accent-rgb: var(--color-deprecated-blue-50-rgb);
	--color-accent-dark: var(--color-deprecated-blue-70);
	--color-accent-dark-rgb: var(--color-deprecated-blue-70-rgb);
	--color-accent-light: var(--color-deprecated-blue-30);
	--color-accent-light-rgb: var(--color-deprecated-blue-30-rgb);
	--color-accent-0: var(--color-deprecated-blue-0);
	--color-accent-0-rgb: var(--color-deprecated-blue-0-rgb);
	--color-accent-5: var(--color-deprecated-blue-5);
	--color-accent-5-rgb: var(--color-deprecated-blue-5-rgb);
	--color-accent-10: var(--color-deprecated-blue-10);
	--color-accent-10-rgb: var(--color-deprecated-blue-10-rgb);
	--color-accent-20: var(--color-deprecated-blue-20);
	--color-accent-20-rgb: var(--color-deprecated-blue-20-rgb);
	--color-accent-30: var(--color-deprecated-blue-30);
	--color-accent-30-rgb: var(--color-deprecated-blue-30-rgb);
	--color-accent-40: var(--color-deprecated-blue-40);
	--color-accent-40-rgb: var(--color-deprecated-blue-40-rgb);
	--color-accent-50: var(--color-deprecated-blue-50);
	--color-accent-50-rgb: var(--color-deprecated-blue-50-rgb);
	--color-accent-60: var(--color-deprecated-blue-60);
	--color-accent-60-rgb: var(--color-deprecated-blue-60-rgb);
	--color-accent-70: var(--color-deprecated-blue-70);
	--color-accent-70-rgb: var(--color-deprecated-blue-70-rgb);
	--color-accent-80: var(--color-deprecated-blue-80);
	--color-accent-80-rgb: var(--color-deprecated-blue-80-rgb);
	--color-accent-90: var(--color-deprecated-blue-90);
	--color-accent-90-rgb: var(--color-deprecated-blue-90-rgb);
	--color-accent-100: var(--color-deprecated-blue-100);
	--color-accent-100-rgb: var(--color-deprecated-blue-100-rgb);

	--color-link: var(--color-deprecated-blue-50);
	--color-link-rgb: var(--color-deprecated-blue-50-rgb);
	--color-link-dark: var(--color-deprecated-blue-70);
	--color-link-dark-rgb: var(--color-deprecated-blue-70-rgb);
	--color-link-light: var(--color-deprecated-blue-30);
	--color-link-light-rgb: var(--color-deprecated-blue-30-rgb);
	--color-link-0: var(--color-deprecated-blue-0);
	--color-link-0-rgb: var(--color-deprecated-blue-0-rgb);
	--color-link-5: var(--color-deprecated-blue-5);
	--color-link-5-rgb: var(--color-deprecated-blue-5-rgb);
	--color-link-10: var(--color-deprecated-blue-10);
	--color-link-10-rgb: var(--color-deprecated-blue-10-rgb);
	--color-link-20: var(--color-deprecated-blue-20);
	--color-link-20-rgb: var(--color-deprecated-blue-20-rgb);
	--color-link-30: var(--color-deprecated-blue-30);
	--color-link-30-rgb: var(--color-deprecated-blue-30-rgb);
	--color-link-40: var(--color-deprecated-blue-40);
	--color-link-40-rgb: var(--color-deprecated-blue-40-rgb);
	--color-link-50: var(--color-deprecated-blue-50);
	--color-link-50-rgb: var(--color-deprecated-blue-50-rgb);
	--color-link-60: var(--color-deprecated-blue-60);
	--color-link-60-rgb: var(--color-deprecated-blue-60-rgb);
	--color-link-70: var(--color-deprecated-blue-70);
	--color-link-70-rgb: var(--color-deprecated-blue-70-rgb);
	--color-link-80: var(--color-deprecated-blue-80);
	--color-link-80-rgb: var(--color-deprecated-blue-80-rgb);
	--color-link-90: var(--color-deprecated-blue-90);
	--color-link-90-rgb: var(--color-deprecated-blue-90-rgb);
	--color-link-100: var(--color-deprecated-blue-100);
	--color-link-100-rgb: var(--color-deprecated-blue-100-rgb);

	/* WP Admin */
	--color-wp-admin-button-background: #008ec2;
	--color-wp-admin-button-border: #006799;

	/* WP Admin Default Theme */
	--theme-text-color: #f0f0f1; /* Direct from wp-admin */
	--theme-text-color-rgb: 240, 240, 241;
	--theme-base-color: #1d2327; /* Direct from wp-admin */
	--theme-base-color-rgb: 29, 35, 39;
	--theme-submenu-background-color: #131619; /* $menu-submenu-background */
	--theme-submenu-text-color: #c3c4c7; /* $menu-submenu-text */
	--theme-icon-color: rgba(240, 246, 252, 0.6); /* $icon-color */
	--theme-highlight-color: #72aee6; /* $highlight-color */
	--theme-highlight-color-rgb: 114, 174, 230;
	--theme-notification-color: #d54e21; /* Direct from wp-admin */

	/* Masterbar */
	--color-masterbar-background: var(--theme-base-color);
	--color-masterbar-border: #8c8f94; /* $adminbar-avatar-frame */
	--color-masterbar-text: var(--theme-text-color);
	--color-masterbar-submenu-text: var(--theme-submenu-text-color);
	--color-masterbar-icon: var(--theme-icon-color);
	--color-masterbar-highlight: var(--theme-highlight-color);
	--color-masterbar-unread-dot-background: var(--color-accent-20);

	--color-masterbar-item-hover-background: #2c3338; /* $menu-submenu-background: darken( $base-color, 7% ) */
	--color-masterbar-item-active-background: #23282d;
	--color-masterbar-item-new-editor-background: var(--studio-gray-50);
	--color-masterbar-item-new-editor-hover-background: var(--studio-gray-40);

	/* Sidebar */
	--color-sidebar-background: #23282d; /* theme-default */
	--color-sidebar-background-rgb: 35, 40, 45; /* theme-default */
	--color-sidebar-border: #333; /* theme-default */
	--color-sidebar-text: #eee; /* theme-default */
	--color-sidebar-text-rgb: 238, 238, 238; /* theme-default */
	--color-sidebar-text-alternative: #a2aab2; /* theme-default */
	--color-sidebar-gridicon-fill: #a2aab2; /* theme-default */
	--color-sidebar-gridicon-hover-fill: #00b9eb; /* theme-default */
	--color-sidebar-gridicon-selected-fill: #00b9eb; /* theme-default */
	--color-sidebar-notice-background: #3c434a; /* theme-default */

	/* Sidebar Selected */
	--color-sidebar-menu-selected-background: #0073aa; /* theme-default */
	--color-sidebar-menu-selected-background-rgb: 0, 115, 170; /* theme-default */
	--color-sidebar-menu-selected-text: var(--color-text-inverted); /* theme-default */
	--color-sidebar-menu-selected-text-rgb: var(--color-text-inverted-rgb);/* theme-default */

	/* Sidebar Hover */
	--color-sidebar-menu-hover-background: #1a1e23;/* theme-default */
	--color-sidebar-menu-hover-background-rgb: 26, 30, 35; /* theme-default */
	--color-sidebar-menu-hover-text: #00b9eb; /* theme-default */

	/* Sidebar Submenu - Nav Unification */
	--color-sidebar-submenu-background: #32373c; /* theme-default */
	--color-sidebar-submenu-text: #b4b9be;
	--color-sidebar-submenu-hover-background: transparent; /* theme-default */
	--color-sidebar-submenu-hover-text: #00b9eb; /* theme-default */
	--color-sidebar-submenu-selected-background: transparent; /* theme-default */
	--color-sidebar-submenu-selected-text: var(--color-text-inverted); /* theme-default */

	/* Sidebar Submenu - Nav Redesign */
	--color-navredesign-sidebar-submenu-text: rgba(240, 246, 252, 0.7); /* Direct from wp-admin */
	--color-navredesign-sidebar-menu-selected-text: var(--theme-text-color);
	--color-navredesign-sidebar-submenu-selected-text: var(--theme-text-color);
	--color-navredesign-sidebar-submenu-hover-text: #72aee6; /* Direct from wp-admin */

	/* Gutenberg components */
	--wp-admin-theme-color: var(--color-accent);
	--wp-admin-theme-color-darker-20: var(--color-accent-60);
}
