@import "@wordpress/base-styles/breakpoints";

.referral-details__subtitle {
	margin-block-start: 16px;
}

.referrals-purchases__assign-button {
	padding: 0;
	position: relative;
	top: -1px;
	left: 8px;
	text-decoration: underline;
}

.multi-sites-dashboard-item-view.referral-details-items {
	.multi-sites-dashboard-item-view__content {
		display: block;
		@media (max-width: $break-mobile) {
			height: 75vh;
			padding: 18px;
		}

		.consolidated-view {
			padding: 0;
		}
	}

	.section-nav-tabs__list {
		width: auto;
	}
}

// TODO: remove when the list view declares a proper primary field.
//
// The issue here is that the email is not provided as a primary field,
// hence it's displayed below the space reserved for the media+primary field in list view.
.dataviews-view-list__media-wrapper {
	display: none !important;
}
