$background-color: #05374A;

.hosting-overview-v3.main.a4a-layout {
	.a4a-layout__body {
		max-height: auto;
		padding: 0;

		& > * {
			max-width: 100%;
			padding: 0;
			margin: 0;
		}
	}

	.a4a-layout__container {
		height: auto;
		overflow: auto;
		display: block;
	}

	.a4a-layout__top-wrapper {
		max-height: auto;
		background: url( calypso/assets/images/a8c-for-agencies/marketplace-hosting-page-v3-bg.svg ) no-repeat top right $background-color;
        border-block-end: none;
		padding-block-end: 0;
		position: sticky;
		top: 0;
    }

	.a4a-layout__header-breadcrumb {
		color: var(--color-neutral-40);
		fill: var(--color-neutral-40);

		a {
			color: var(--color-primary-5);
		}
	}

	.a4a-layout__header-actions {
		background-color: var(--color-surface);
		border-radius: 8px; /* stylelint-disable-line */
		padding: 8px 16px;

		.shopping-cart {
			margin: 0;
		}
	}
}

