.seo-settings__seo-upsell.upsell-nudge {
	margin-top: -16px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 16px;
}

.seo-settings__seo-form {
	button.is-primary {
		float: unset !important;
	}

	.panel-section {
		margin-bottom: 16px;
	}
}

.seo-settings__page-title-header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.seo-settings__page-title-header-image {
	margin: 0 10px 10px;
}

.seo-settings__page-title-header-text {
	flex-basis: 330px;
	margin: 0 10px 10px;
}
