@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";

.pressable-plan-card-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	height: 100%;
}

.pressable-plan-card-content__logo {
	width: 175px;
	height: auto;
	margin-block-end: 16px
}

.pressable-plan-card-content__price-actual-value{
	@include heading-large;
	color: var(--color-text);
}

.pressable-plan-card-content__price-interval {
	@include body-small;
}

// We need to do this specifically to override the white-space.
.pressable-plan-card-content__cta-button.pressable-plan-card-content__cta-button.pressable-plan-card-content__cta-button {
	min-width: 0;
	width: 100%;
	min-height: 40px;
	max-width: 100%;
	white-space: normal;
	justify-content: center;
}

.pressable-plan-section__details-two-lists {
	display: flex;
	flex-direction: column;

	@include break-large {
		flex-direction: row;
		gap: 16px;
	}

	> * {
		flex-grow: 1;
	}
}
