.pending-content__wrapper {
	padding: 1em;
	text-align: center;
	margin: 32vh auto;
}

.pending-content__title {
	@extend .wp-brand-font;
	/* stylelint-disable-next-line scales/font-sizes */
	font-size: 1.625rem;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.pending-content__progress-bar {
	margin: 24px auto 0 auto;
}

.pending-content__info-text-container {
	display: inline-block;
    font-size: 1rem;
    text-align: left;
    border: 1px solid var( --studio-gray-5 );
    padding: 1rem;
	@extend .wp-brand-font;
    border-radius: 4px;
    background-color: var( --studio-gray-0 );

	.pending-content__info-text {
		> span {
			font-family: var( --p2-font-inter );
			font-size: var( --p2-font-size-form-xxs );
			color: var( --studio-gray-60 );
		}
	}
}