@import "@automattic/onboarding/styles/mixins";
@import "@automattic/onboarding/styles/variables";
@import "@automattic/typography/styles/fonts";

.design-picker__filters {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 24px;

	@include break-medium {
		flex-direction: row;
		align-items: flex-end;
		gap: 24px;
	}

	button.components-button.responsive-toolbar-group__button-item,
	button.components-button.responsive-toolbar-group__swipe-item {
		padding: 8px 16px;
		margin-inline-start: -4px;
		margin-inline-end: 4px;
		font-size: rem(13px);

		&::before {
			left: 4px;
			right: 4px;
			height: 36px;
			border-radius: 4px;
			background-color: #EDEDEF; /* 50% of gray-5 */
		}

		&:not([class*="is-pressed"]):hover {
			color: var(--studio-gray-100);
		}

		&:not([class*="is-pressed"]):hover::before{
			background-color: var(--studio-gray-5);
		}

		&.is-pressed {
			&::before {
				background-color: var(--studio-wordpress-blue);
			}

			&:hover {
				opacity: 0.95;
			}

			&:active {
				opacity: 0.9;
			}
		}
	}

	button.components-button.responsive-toolbar-group__menu-item {
		height: 40px;
		padding: 8px 12px;
		border-radius: 4px;
		line-height: 20px;
		background-color: #EDEDEF; /* 50% of gray-5 */
		font-size: rem(13px);

		&:not(.responsive-toolbar-group__more-item):not([class*="is-selected"]):hover {
			color: var(--studio-gray-100);
			background-color: var(--studio-gray-5);
		}

		&:not(:first-child) {
			margin-top: 8px;
		}

		&.is-selected {
			background-color: var(--studio-wordpress-blue);

			&:hover {
				opacity: 0.95;
			}

			&:active {
				opacity: 0.9;
			}
		}
	}

	.design-picker__category-group {
		display: flex;
		flex-direction: column;
		&.grow {
			flex-grow: 1;
		}

		.design-picker__category-group-content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px 16px;
		}
	}

	.design-picker__category-group-label {
		text-transform: uppercase;
		font-size: rem(13px);
		font-weight: 500;
	}

	.design-picker__tier-filter {
		height: 40px; // match button height
		margin-bottom: 6px;
	}

	.design-picker__design-your-own-button {
		flex-shrink: 0;
		margin-bottom: 6px;
	}

	.design-picker__design-with-ai {
		display: none;
		
		@include break-small {
			display: block;
		}
	}

	.design-picker__design-your-own-button-without-categories {
		margin-left: auto;
		margin-top: -60px;
	}

	.design-picker__category-filter.responsive-toolbar-group__dropdown {
		width: 100%;
		padding-bottom: 0;

		.responsive-toolbar-group__grouped-list {
			justify-content: flex-start;
			border: none;

			> div:first-of-type {
				margin-inline-start: 0;
			}
	
			> div:last-of-type {
				margin-inline-end: 0;
			}
		}
	}
}
