#analytics {
	button {
		float: unset;
		margin-top: 10px;
	}

	.form-fieldset {
		margin-top: 16px;
	}
}

.site-settings__analytics {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 12px;
	margin-top: 16px;
	.support-info {
		position: absolute;
		right: 24px;
	}
}

.site-settings__analytics-text {
	margin-left: 20px;
	/* stylelint-disable-next-line declaration-property-unit-allowed-list */
	line-height: 1rem;
}
.site-settings__analytics-text p {
	margin-bottom: 0.5em;
}

.site-settings__analytics-illustration {
	width: 50px;
	img {
		width: 100%;
		display: block;
	}
}

.site-settings__analytics-spacer {
	margin-bottom: 16px;
}
.site-settings__analytics-form-content {
	margin-top: 24px;
}
