@import "@wordpress/base-styles/breakpoints";

.is-section-reader .navigation-header.following-stream-header {
	&.reader-dual-column {
		max-width: 968px; // Max width of dual column reader stream.
	}
}

.following.main .section-nav {
	margin-top: 0;

	.section-nav-tabs__list {
		.section-nav-tab__link {
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.following .search {
	margin-bottom: 0;
}

.following__search.card.is-compact {
	padding: 0;
	border-radius: 2px;
	box-shadow: 0 0 0 2px var(--color-neutral-10), 0 1px 2px var(--color-neutral-10);
	z-index: z-index("root", ".reader-following-search");
}

.following__search {
	margin-top: 8px;

	@include breakpoint-deprecated( ">660px" ) {
		margin-top: 30px;
	}
}

.following__view-toggle {
	display: flex;
	gap: 8px;
	
	.components-button {
		height: 36px;
		min-width: 36px;
		padding: 6px;
		color: var(--color-text);
		
		&.is-pressed {
			background: var(--color-text);
			color: var(--color-surface);
		}
		
		&:hover {
			background: var(--color-text);
			color: var(--color-surface);
		}
	}
}

.following-stream--no-subscriptions {
	max-width: $break-medium;
	margin: 0 auto;
	padding: 16px 24px;

	.navigation-header {
		padding-bottom: 0;

		@media (max-width: $break-medium) {
			padding: 0 0 16px 0;
		}
	}
}

.following-stream__quick-post-card.card.is-compact {
	margin-bottom: 20px !important;
	border-radius: 6px; /* stylelint-disable-line scales/radii */

	.foldable-card__main {
		font-weight: 600;
	}
}
