.components-form-toggle {
	input[type="checkbox"] {
		cursor: pointer;

	}
}

/* @wordpress/components Button overrides */
.components-button.is-primary {
	--wp-components-color-accent: var(--color-accent);
	--wp-components-color-accent-inverted: var(--color-text-inverted);
	--wp-components-color-accent-darker-10: var(--color-accent-60);
	--wp-components-color-accent-darker-20: var(--color-accent-60);
}

.components-button.is-secondary {
	--wp-components-color-accent: var(--color-accent);
	--wp-components-color-accent-darker-20: var(--color-accent-60);
}

.components-button.is-tertiary {
	--wp-components-color-accent: var(--color-accent);
	--wp-components-color-accent-darker-20: var(--color-accent-60);
}

/* @wordpress/components ButtonGroup overrides */
.components-button-group {
	.components-button {
		&,
		&.is-primary {
			box-shadow: inset 0 0 0 1px var(--color-accent-60);
		}
	}
}

/* @wordpress/components RadioControl overrides */
.components-radio-control {
	&__input[type="radio"] {
		padding: 6px;
		cursor: pointer;

		&:checked {
			border-color: var(--color-accent);
			background-color: var(--color-accent);
		}
	}
}

.components-external-link__contents {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
